project:
  type: book
  output-dir: docs

book:
  title: "PEC3 - COVID-19 Outbreak prediction"
  author: "Jaime Perez Ordieres (jperezord)"
  cover-image: images/uoc_cover.png
  site-url: https://jperezord.github.io/
  repo-url: https://github.com/jperezord/jperezord.github.io.git
  chapters:
    - index.qmd
    - intro.qmd
    - part: data.qmd
      chapters: 
        - cne_data.qmd
        - ine_data.qmd
        - google_data.qmd
        - aemet_data.qmd
    - part: combination.qmd
    - part: visual.qmd
    - part: arima.qmd
      chapters: 
        - acf.qmd
        - stl.qmd
        - univariate.qmd
        - multivariate_temp.qmd
        - multivariate.qmd
        - multivariate_google.qmd
    - part: lstm.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
    cover-image: images/uoc_cover.png
    code-link: true

editor: visual